<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>選択した支払い方法</title>
  </head>
  <body>
    <h3>選択結果</h3>
    <div>
      <h4>支払い方法は{{ selected_pay }}</h4>
      {% if pay == "bank" %}
        <h4>銀行口座を登録してください</h4>
      {% endif %}
    </div>
  </body>
</html>