<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <!-- Bootstrap5のCSS. JSは<body>を閉じる直前に配置-->
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <style>
    body {
      padding-top: 5em;
    }

    h1 {
      font-size: 1.5em;
    }
  </style>
</head>

<body>
  <!-- # add Bootstrap5のテンプレート(starter template)を参考にナビゲーションバーにクラス付与 -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <h1><a href="{{url_for('index')}}" class="navbar-brand">サンプルショップ</a></h1>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar"
        aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="navitem">
            <a class="nav-link" href="{{url_for('item.index')}}">商品一覧</a>
          </li>
          <li class="navitem">
            <a class="nav-link" href="{{url_for('cart.index')}}">カート</a>
          </li>
          <!-- # add 新規追加 -->
          {% if session.get('logged_in') %}
          <li class="navitem">
            <a class="nav-link" href="{{url_for('order.index')}}">注文履歴</a>
          </li>
          {% endif %}
        </ul>
        <!-- # add 新規追加 -->
        <ul class="d-flex navbar-nav mb-2 mb-md-0">
          {% if session.get('logged_in') %}
          <li class="navitem">
            <a class="nav-link" href="{{url_for('customers.logout')}}">ログアウト</a>
          </li>
          {% else %}
          <li class="navitem">
            <a class="nav-link" href="{{url_for('customers.signup')}}">サインアップ</a>
          </li>
          <li class="navitem">
            <a class="nav-link" href="{{url_for('customers.login')}}">ログイン</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  <main class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == 'success' %}
    <div class="alert alert-success">
      {{ message }}
    </div>
    {% elif category == 'error' %}
    <div class="alert alert-danger">
      {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% block body %}{% endblock %}
  </main>
  <!-- Bootstrap5のJS-->
  <script src="{{url_for('static',filename='js/bootstrap.bundle.min.js')}}"></script>
</body>

</html>