{% extends "layout.html" %}
{% block body %}
  <!-- カート -->
  <h3>ご注文商品</h3>
  <table border="3">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>単価</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      {% if cart_details %}
        {% for cart_detail in cart_details: %}
          {% set item = cart_detail.get('item') %}
          {% set item_num = cart_detail.get('item_num') %}
          {% set sub_total_price = cart_detail.get('sub_total_price') %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}円</td>
            <td>{{ item_num }}</td>
            <td>{{ sub_total_price }}円</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="4"></td>
          <td>{{ total_price }}円（合計）</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <!-- 顧客情報入力 -->
  <h3>お客様情報を入力してください</h3>
  <form action="{{url_for('order.create')}}" method="POST">
    名前
    <div>
      <input type="text" name="name">
    </div>
    住所
    <div>
      <input type="text" name="address">
    </div>
    電話番号 
    <div>
      <input type="text" name="tel">
    </div>
    メールアドレス 
    <div>
      <input type="text" name="email">
    </div>
    <input type="submit" value="注文する">
  </form>
{% endblock %}
