{% extends "layout.html" %}
{% block title%}サンプルショッピングサイト{% endblock %}
{% block body %}
<!-- 注文履歴 -->
<h3>{{customer.name}}さんの注文履歴</h3>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>注文日</th>
        <th>商品名</th>
        <th>個数</th>
        <th>合計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for order in customer.orders %}
      <tr>
        <td>{{ order.id }}</td>
        <td>{{ order.order_date }}</td>
        <td>{{ order.item.name }}</td>
        <td>{{ order.item_num }}</td>
        <td>{{ order.total_price }}円</td>
        <td>
          <form action="{{url_for('order.cancel')}}" method="POST">
            <input type="hidden" name="order_id" value="{{order.id}}">
            <button class="btn btn-primary">キャンセル</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="text-end">
    <form action="{{url_for('order.cancel_all')}}" method="POST">
      <button class="btn btn-primary">全てキャンセル</button>
    </form>
  </div>

  {% endblock %}