{% extends "layout.html" %}
{% block title%}サンプルショッピングサイト{% endblock %}
{% block body %}
  <!-- カート -->
  <h3>ご注文商品</h3>
  <table class="table">
    <thead>
      <tr>
        <th>商品ID</th>
        <th>商品名</th>
        <th>単価</th>
        <th>個数</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      {% if cart_details %}
        {% for cart_detail in cart_details: %}
          {% set item = cart_detail.get('item') %}
          {% set item_num = cart_detail.get('item_num') %}
          {% set sub_total_price = cart_detail.get('sub_total_price') %}
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}円</td>
            <td>{{ item_num }}</td>
            <td>{{ sub_total_price }}円</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="4"></td>
          <td>{{ total_price }}円（合計）</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <!-- 顧客情報入力 -->
  <div class="row  justify-content-center">
    <div class="col col-md-6">
      {% if customer %}
      <h3>お客様情報を確認してください</h3>
      {% else %}
      <h3>お客様情報を入力してください</h3>
      {% endif %}

      <form class="form" action="{{url_for('order.create')}}" method="POST">
        <label class="form-label" for="name">名前</label>
        {% if customer %}
        <input type="hidden" name="customer_id" value="{{customer.id}}">
        {% endif %}
        <div class="mb-3">
          {% if customer %}
          {{customer.name}}
          {% else %}
          <input class="form-control" type="text" name="name" id="name">
          {% endif %}
        </div>
        <label class="form-label" for="address">住所</label>
        <div class="mb-3">
          {% if customer %}
          {{customer.address}}
          {% else %}
          <input class="form-control" type="text" name="address" id="address">
          {% endif %}
        </div>
        <label class="form-label" for="tel">電話番号</label> 
        <div class="mb-3">
          {% if customer %}
          {{customer.tel}}
          {% else %}
          <input class="form-control" type="text" name="tel" id="tel">
          {% endif %}
        </div>
        <label class="form-label" for="email">メールアドレス</label> 
        <div class="mb-3">
          {% if customer %}
          {{customer.email}}
          {% else %}
          <input class="form-control" type="text" name="email">
          {% endif %}
        </div>
        <div class="text-center mb-5">
          <input class="btn btn-primary" type="submit" value="注文する">
        </div>
      </div>
    </div>
  </form>
{% endblock %}
