{% extends "admin/layout.html" %}
{% block title %}
  ログイン
{% endblock %}
{% block body %}
<h3>ログインしてください</h3>
<form action="{{url_for('admin.login')}}" method="POST">
  <div>
    ユーザID
    <input type="text" name="user_id">
  </div>
  <div>
    パスワード 
    <input type="password" name="password">
  </div>
  <button type="submit">送信</button>
</form>
{% endblock %}