{% extends "layout.html" %}
{% block title %}
ログイン
{% endblock %}
{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6 p-5">
    <h2>ログインしてください</h2>
    <form action="{{url_for('customers.login')}}" method="POST">
      <div class="mb-3">
        <label class="form-label" for="email">メールアドレス</label>
        <input type="email" class="form-control" name="email" emailid="email">
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">パスワード</label>
        <input type="password" class="form-control" name="password" id="password">
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary">送信</button>        
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}