{% extends "layout.html" %}
{% block title %}
サインアップ
{% endblock %}
{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6 p-5">
    <h2>サインアップ</h2>
    <!-- autocomplete="off" で補完無効にしないと入力チェックの警告が表示されない -->
    <form action="{{url_for('customers.regist')}}" method="POST" autocomplete="off">    
      <div class="mb-3">
        <label class="form-label" for="name">名前</label>
        <input type="text" class="form-control" name="name" id="name" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="email">メールアドレス</label>
        <input type="email" class="form-control" name="email" id="email" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="password">パスワード</label>
        <input type="password" class="form-control" name="password" id="password" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="address">住所</label>
        <input type="text" class="form-control" name="address" id="address" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="tel">電話番号</label>
        <!--電話番号の正規表現は https://akinov.hatenablog.com/entry/2017/05/31/194421 を参考にしました -->
        <input type="tel" pattern="/\A(((0(\d{1}[-(]?\d{4}|\d{2}[-(]?\d{3}|\d{3}[-(]?\d{2}|\d{4}[-(]?\d{1}|[5789]0[-(]?\d{4})[-)]?)|\d{1,4}\-?)\d{4}|0120[-(]?\d{3}[-)]?\d{3})\z/" class="form-control" name="tel" id="tel" required>
      </div>
      <div class="text-end">
        <button type="submit" class="btn btn-primary">登録</button>        
      </div>
    </form>
  </div>
</div>
</div>
{% endblock %}