{% extends "layout.html" %}
{% block title %}
  ユーザ一覧
{% endblock %}
{% block body %}
<h3>ユーザ一覧</h3>
<table border="3">
  <thead>
    <tr>
      <th>名前</th>
      <th>ユーザID</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>テスト太郎</td>
      <td>test</td>
    </tr>
    <tr>
      <td>フラスク太郎</td>
      <td>flask</td>
    </tr>
  </tbody>
</table>
{% endblock %}