<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <h3>
      <a href="{{url_for('top')}}">TOP</a>
      {% if session.get('logged_in'): %}
        <a href="{{url_for('logout')}}">ログアウト</a>
      {% else %}
        <a href="{{url_for('login')}}">ログイン</a>
      {% endif %}
    </h3>
    {% block body %}{% endblock %}
  </body>
</html>