{% extends "admin/layout.html" %}
{% block title %}
商品一覧
{% endblock %}
{% block body %}
<h3>商品一覧</h3>
<table border="3">
  <thead>
    <tr>
      <td>ID</td>
      <td>商品名</td>
      <td>分類</td>
      <td>値段</td>
      <td colspan="3"><a href="{{url_for('admin.new')}}">新規作成</a></td>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
    <tr>
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.category.name }}</td>
      <td>{{ item.price }}円</td>
      <td><a href="{{url_for('admin.show', id=item.id)}}">詳細</a></td>
      <td><a href="{{url_for('admin.edit', id=item.id)}}">編集</a></td>
      <td>
        <form action="{{url_for('admin.delete', id=item.id)}}" method="POST">
          <button type="submit">削除</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}