<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <h3><a href="{{url_for('radio')}}">TOP</a></h3>
    {% block body %}{% endblock %}
  </body>
</html>