{% extends "layout.html" %}
{% block title %}
  支払い方法
{% endblock %}
{% block body %}
<h3>ラジオボタン</h3>
<form action="{{url_for('result_radio')}}" method="POST">
  <div>
    <h4>支払い方法</h4>
    <input type="radio" name="pay" value="card">
      クレジットカート 
    <input type="radio" name="pay" value="bank">
      銀行振り込み
    <input type="radio" name="pay" value="cash">
      代引き
  </div>
  <button type="submit">送信</button>
</form>
{% endblock %}
