{% extends "layout.html" %}
{% block title%}サンプルショッピングサイト{% endblock %}
{% block body %}
<!-- 商品一覧 -->
<h3>
  商品一覧
  <a href="{{url_for('item.index')}}">すべて</a>
  {% for category in categories %}
  <a href="{{url_for('item.index',　category_id=category.id)}}">{{ category.name }}</a>
  {% endfor %}
</h3>
<!-- # add まとめてカートに追加 -->
<form action="{{url_for('cart.create')}}" method="POST">
  <div class="text-end">
    <button class="btn btn-primary" type="submit">カートに追加</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>商品名</th>
        <th>分類</th>
        <th>値段</th>
        <th>個数</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
      <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.category.name }}</td>
        <td>{{ item.price }}円</td>
        <td>
          <input type="number" name="item_{{ item.id }}" style="width:50px;" value="0" min="0" max="5">個
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="text-end">
    <button class="btn btn-primary" type="submit">カートに追加</button>
  </div>
</form>
{% endblock %}